* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.header {
    width: 100%;
    margin-bottom: 10px;
}

.body1 {
    display: flex;
    width: 100%;
    gap: 10px;
}

.body2 {
    width: 100%;
    margin: 10px 0;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
}

.item1 { 
    background-color: #5bc0de; 
    width: 100%; 
}
.item2 { 
    background-color: #d9534f; 
    width: 50%; 
}
.item3 { 
    background-color: #f0ad4e; 
    width: 50%; 
}
.item4 { 
    background-color: #5bc0de; 
    width: 100%; 
}
.item5 { 
    background-color: #003366; 
    width: 40%; 
}
.item6 { 
    background-color: #d9534f; 
    width: 40%; 
}
.item7 { 
    background-color: #f0ad4e; 
    width: 40%; 
}

@media (max-width: 1024px) {
    .container, .item {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .body1, .footer {
        flex-direction: column;
        align-items: center;
    }
    .item2, .item3, .item5, .item6, .item7{
        height: 250px;
    }
}
