img {
    height: 300px;
    width: 300px !important;
}
h5 {
    max-width: fit-content;
    position: absolute;
    top: 150px;
    left: 20px;
    font-size: 30px;
}
.card {
    max-width: fit-content;
}
.img {
    display: flex;
    gap: 50px;
}