
      * {
        font-family: Arial, Helvetica, sans-serif;
      }
      body{
        margin: 0;
      }
      .content {
        border: 1px solid rgba(57, 52, 52, 0.047);
        background-color: rgba(57, 52, 52, 0.047);
        width: 530px;
        height: 280px;
        align-items: center;
        justify-content: center;
      }
      .content1,
      .content2,
      .content3 {
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding-left: 10px;
      }
      img {
        width: 20px;
        height: 20px;
      }
      span {
        margin-left: 10px;
      }
      .foot {
        display: flex;
      }
      .foot .submit p {
        border: 1px solid #bc2229;
        background-color: #bc2229;
        color: white;
        width: 150px;
        height: 30px;
        text-align: center;
        padding-top: 10px;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 30px;
      }
      .foot .check p {
        border: 1px solid rgba(57, 52, 52, 0.311);
        width: 150px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        padding-top: 10px;
        margin-top: 30px;
        margin-left: 15px;
      }


