.main {
    display: flex;
    gap: 5rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head {
    display: flex;
    justify-content: center;
}
h5, p {
    text-align: center;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    width: 100%;
}
.custome-card {
    background-color: #ffc107;
}