        html, body{
            padding: 0;
            margin: 0;
        }
        .header{
            background-color: #3498db;
            color: white;
            text-align: center;
        }
        .header p{
            word-spacing: 20px;
        }
       body{
        margin: 0px;
       }
        .body {
            display: flex;
            align-items: center; 
             justify-content: center;
            margin-top: 0px; 
        }

        .body img {
            width: 150px;
            height: 150px;
            border-radius: 50%; 
            border: 4px solid #3498db; 
            object-fit: cover; 
        }

        .body p {
            margin-top: 10px;
            font-size: 18px;
            max-width: 500px; 
            margin-left: 20px;
        }

        