
h3 {
  border-bottom: 2px solid #ff0000;
  color: #3d3b3be8;
  width: 100px;
  padding: 5px;
}
h4 {
  color: #3d3b3bc5;
}
p {
  color: #3d3b3be8;
  opacity: 0.7;
}
.icon {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.border {
  position: absolute;
  width: 125%;
  height: 125%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
}

.gem {
  position: relative;
  background: white;
  padding: 10px;
  z-index: 1;
  font-size: 20px;
  color: rgba(217, 35, 35, 0.532);
}
.boss {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.content {
  margin-left: 40px;
}
