* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    border: 2px solid black;
    padding: 20px;

}
.header, .body1, .body2, .footer {
    width: 100%;
}
.header, .footer {
    justify-content: center;
}
.body1, .body2{
    display: flex;
    margin-top: 10px;
}

.item {
    height: 100px;
}
.item1 { 
    background-color: #A60162; 
    height: 300px;
}
.item2 { 
    background-color: #DB317F; 
    margin-right:  10px;
    width: 30%;
}
.item3 { 
    background-color: #DB317F; 
    margin-right:  10px;
    width: 30%;    
}
.item4 { 
    background-color: #DB317F;
    margin-right:  10px;
    width: 30%; 
}
.item5 { 
    background-color: #DB317F;
    width: 30%; 
}
.item6 { 
    background-color: #DE5D9E;
    width: 50%; 
    height: 200px;
}
.item7 { 
    background-color: #DE5D9E; 
    width: 50%; 
    height: 200px;
}
.item8 { 
    background-color: #ED7BB8; 
    margin-top: 10px;
}

@media (max-width: 1200px) {
.body1, .body2 {
flex-wrap: wrap;
justify-content: space-between;
}
.body1 .item, .body2 .item {
width: 48%; 
margin-bottom: 10px;
}
.item {
height: 100px;
margin: 0;
}
}

@media (max-width: 768px) {
.body1 .item, .body2 .item {
width: 100%; 
}
}    