*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E5E5E5;
    padding: 10px    ;
}
.container ul{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;
}
.container a{
    color: #A1A1A1;
    text-decoration: none;
    margin-right: 15px;
}
.search{
    display: flex;
    text-align: center;
    align-items: center ;
    background-color: #8D939E;
    border-radius: 3px;
    padding: 2px;
    color: #ddd9d9;
}
.search div{
    display: flex;
    text-align: center;
    font-size: 16px;
    margin-left: 5px;
}
.search i{
    font-size: 13px;
}
