.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h5{
    word-spacing: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile {
    display: flex;
    align-items: center; 
    margin-top: 50px; 
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    border: 4px solid #020405; 
    object-fit: cover; 
}

.header h5 {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.body{
    background-color: rgb(205, 201, 201);
}
.body p{
    text-align: center
}

.project{
    
    background-color: white;
    
}
.project div{
    display: flex;
    background-color: white;
    justify-content: space-between;
}
.project button{
    border-radius: 8px;
    border: none;
    height: 35px;
    width: 350px; 
    margin: auto; 
    background-color: black; 
    color: white;
    text-align: center;
}
