html, body{
    margin: 0;
    width: 100%;
    height: 100vh;
    }
.first{
    display: flex;
    
    justify-content: space-between;
}
.content{
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: #51425F; 
    color: white;
    padding: 50px;
}
button{
    height: 40px;
    border-radius: 5px;
    background-color: white;
    color: #51425F;
}   
input{
    border-radius: 4px;
    background-color: transparent; 
}
textarea{
    border-radius: 4px;
    background-color: transparent; 
    width:400px;
    height: 100px;
}
form{
    width: fit-content;
    height: fit-content;
}