* {
    font-family: 'Courier New', Courier, monospace;
}      
img{
    width: 300px;
    height: 200px;
}
.content{
    border: 1px solid #F2F2F2;
    border-right:1px solid black;
    border-left: none;
    border-bottom: none;
    text-align: center;
    border-collapse: collapse;
}
.folder{
    border-right: 1px solid #F2F2F2;
    
} 
button{
    color: #6383A1;
    background-color: white;
    padding: 10px;
}